NODE_ENV=production
NODE_PATH=/home/trivialsec/node_modules
FLASK_ENV=development
FLASK_DEBUG=1
NGINX_VERSION=1.21.0
GEO_DB_RELEASE=2021-06
MODSEC_BRANCH=v3.0.4
OWASP_BRANCH=v3.3/master
DOCKER_PASSWORD=
DOCKER_USER=
RUNNER_TOKEN=
RUNNER_TAGS=builder
RUNNER_NAME=local-builder
